<h1>ツイート一覧</h1>

<table>
  <tr>
    <th>内容</th>
  </tr>

<% @twets.each do |twet| %>
  <tr>
    <td><%= twet.content %></td>
    <td><%= link_to "編集します！", edit_twet_path(twet.id) %></td>
    <td><%= link_to "削除します！", twet_path(twet.id), method: :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to '新規投稿画面',new_twet_path %>
