html{
    min-height:100%;
    position:relative;
}

body{
    height:100%;
    text-align: center;
}

ul{
    list-style: none;
}


.container{
   margin-top:30px;
   height:auto;
   padding-bottom:100px;
   margin-bottom:50px;
}

button, input, optgroup, select, textarea {
    text-align: center;
}

.container-fluid {
    background-color: #00CCFF;
}

.btn{
   margin-left:10px;
   margin-bottom:10px;
}

.btn-success{
    background-color:#00CCFF;
    margin-bottom:120px;
}


.panel p{
    height:50px;
    width:100%;
    border: thin solid;
    font-size:20px;
    word-wrap: break-word;
}

footer{
    position:absolute;
    width:100%;
    height:100px;
    background-color:#00CCFF;
    text-align:center;
    bottom:0;
    padding:10px;
}

footer p{
    line-height:20px;
    margin:10px;
}


input[type="text"] {
    width: 600px;
    height: 50px;
    margin:50px;
}

input[type="submit"]{
    width:100px;
    margin:30px;
    font-size:5px;
}




