// Place all the styles related to the twets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header{
  font-size: 30px;
  font-weight: bold;
  text-align:center;
}

p{
  font-size:30px;
  text-align:center;
}
